body {
    background-color: #f0f5f9 !important;
    font-family: Arial, sans-serif;
    height: 100%;
}

#carouselAutomatico .carousel-item img {
    max-width: 100%; 
    max-height: 500px; 
    width: 100%;
    margin: auto;
}

.footer {
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    height: 60px;
}

/*div de auvidoria geral, estilização*/

.container.d-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 800px;
}

.d-box-1, .d-box-2 {
    padding: 10px;
}

.d-logo-1 img {
    max-width: 100%;
}

.d-linha {
    width: 1px;
    height: 80px;
    background-color: #ddd;
    margin: 0 20px;
}

.d-titulo span {
    font-size: 1.2em;
    color: #007bff;
}

.d-titulo b {
    font-weight: bold;
}

.d-texto span {
    font-size: 0.9em;
    color: #555;
}

@media (min-width: 768px) {
    .d-container {
        padding: 50px;
    }
    .d-linha {
        height: 100px;
    }
    .d-titulo span {
        font-size: 1.5em;
    }
    .d-texto span {
        font-size: 1em;
    }
}
/*div de auvidoria geral, estilização fim*/


/* Estilos header*/
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.navbar-nav .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}


.navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #007bff; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}


.navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}


.navbar-brand img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}


.navbar-brand img:hover {
    transform: scale(1.1); 
}
/* fim Estilos header*/