
/* Estilos header*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.navbar-nav .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}


.navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #007bff; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}


.navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}


.navbar-brand img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}


.navbar-brand img:hover {
    transform: scale(1.1); 
}

/* fim Estilos header*/

.form-group { /*estilo div*/
    display: flex;
    align-items: center;
}
.form-group label {
    width: 80px;
    margin-right: 10px;
}